@import 'mixins';

html, body, #app {
  @include overspread;
  margin: 0;
  padding: 0;
}

* {
  word-break: break-word;
}

mark {
  background-color: #c6e2ff;
}

#nprogress .bar {
  background: #79bbff !important;
}

